# OpenWeatherMap API Key (Requerido para producer_openweathermap.py)
OPENWEATHERMAP_API_KEY=tu_api_key_aqui

# Ruta dentro del contenedor donde se montará la Service Account de Google Earth Engine
GEE_CREDENTIALS_PATH=/app/ensostreamingpipeline-7f414895f6f4.json

# Conexión al clúster de Kafka desde el contenedor de los productores
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
